#home {
  background-color: black;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}
.section {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
}

#hero {
  padding-top: 15%;
  @media (max-width: 867px) {
    padding-top: 30%;
  }
  .desc {
    color: #fff;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    @media (max-width: 867px) {
      font-size: 6px;
      line-height: normal;
    }
  }
  .title-div {
    width: 95%;
    .title {
      color: #fff;
      font-family: "DM Sans";
      font-size: 44px;
      font-style: normal;
      font-weight: 500;
      line-height: 66px; /* 150% */
      letter-spacing: -2.4px;
      @media (max-width: 867px) {
        font-size: 24px;
        line-height: normal;
      }
    }
  }
}

.empty-div {
  width: 100vw;
  height: 50vh;
  border: 2px solid blue;
}

#Numbers {
  height: 150vh;
  div {
    padding: 0 0 0 5%;
    @media (max-width: 867px) {
      padding: 0;
    }
    .title {
      color: #fff;
      font-family: "DM Sans";
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 80px; /* 142.857% */
      letter-spacing: -1.4px;
      @media (max-width: 867px) {
        font-size: 42px;
        line-height: normal;
      }
    }
    .desc {
      color: rgba(255, 255, 255, 0.5);
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 138.889% */
      @media (max-width: 867px) {
        font-size: 14px;
      }
    }
    .div1 {
      display: flex;
      flex-direction: column;
      @media (max-width: 867px) {
        align-items: center;
        margin-top: 15px;
      }
      .div1-title {
        font-family: "DM Sans";
        font-size: 200px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(
          98deg,
          #fff -3.25%,
          #fb7e48 27.17%,
          #f78a5b 66.12%,
          #a23100 103.48%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 867px) {
          font-size: 62px;
        }
      }
      .div1-desc {
        color: #fff;
        font-family: "DM Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 867px) {
          font-size: 24px;
        }
      }
    }
    .div2 {
      display: flex;
      flex-direction: column;
      @media (max-width: 867px) {
        align-items: center;
        margin-top: 15px;
      }
      .div2-title {
        font-family: "DM Sans";
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(
          98deg,
          #fff -3.25%,
          #fb7e48 27.17%,
          #f78a5b 66.12%,
          #a23100 103.48%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 867px) {
          font-size: 62px;
        }
      }
      .div2-desc {
        color: #fff;
        font-family: "DM Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 867px) {
          font-size: 24px;
        }
      }
    }
    .div3 {
      display: flex;
      flex-direction: column;
      @media (max-width: 867px) {
        align-items: center;
        margin-top: 15px;
      }
      .div3-title {
        font-family: "DM Sans";
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(
          98deg,
          #fff -3.25%,
          #fb7e48 27.17%,
          #f78a5b 66.12%,
          #a23100 103.48%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 867px) {
          font-size: 62px;
        }
      }
      .div3-desc {
        color: #fff;
        font-family: "DM Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 867px) {
          font-size: 24px;
        }
      }
    }
  }
}

#Points {
  width: 100%;
  height: 800vh !important;
  .numbertext {
    color: #fff;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    @media (max-width: 867px) {
      font-size: 36px;
      line-height: normal;
    }
  }
  .title {
    background: linear-gradient(103deg, #fb7e48 62.27%, #942d01 109.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Sans";
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2.2px;
    @media (max-width: 867px) {
      font-size: 36px;
    }
  }
  .desc {
    color: #fff;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    @media (max-width: 867px) {
      font-size: 12px;
    }
  }
  .scroll-progress {
    height: 13%;
    @media (max-width: 867px) {
      width: 13%;
      height: 4px;
    }
  }
  .Points-LogoDiv {
    height: 100vh;
    @media (max-width: 867px) {
      height: 50vh;
    }
  }
  .Points-div {
    height: 100vh;
    @media (max-width: 867px) {
      height: 50vh !important;
    }
  }
}

#CaseStudy {
  height: 300vh;
  justify-content: space-around;
  .box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 90%;
    border-radius: 30px;
    background: linear-gradient(
      148deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow: 0px 373px 104px 0px rgba(0, 0, 0),
      0px 239px 95px 0px rgba(0, 0, 0), 0px 134px 81px 0px rgba(0, 0, 0, 0.25),
      0px 60px 60px 0px rgba(0, 0, 0, 0.43), 0px 15px 33px 0px rgba(0, 0, 0);
    backdrop-filter: blur(9.42424201965332px);
    padding: 2vw;
    @media (max-width: 867px) {
      padding: 4vw;
      gap: 6px;
      height: auto !important;
    }
    .title {
      color: #fff;
      font-family: "DM Sans";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px; /* 157.071% */
      @media (max-width: 867px) {
        font-size: 30px;
        line-height: normal;
      }
    }
    .desc {
      color: rgba(255, 255, 255, 0.5);
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
      @media (max-width: 867px) {
        font-size: 12px;
        line-height: normal;
      }
    }
    .card {
      position: relative;
      max-width: 517px;
      height: 338px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      background: #fff;
      box-shadow: 0px 3.77px 7.539px 0px rgba(0, 0, 0, 0.08),
        0px 3.77px 30.158px 0px rgba(0, 0, 0, 0.08);

      img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        bottom: 0;
        background: rgba(2, 2, 2, 0.6);
        backdrop-filter: blur(6.5969696044921875px);
        border-radius: 0 0 25px 25px;
        padding: 1.5vw;
        @media (max-width: 867px) {
          padding: 4vw;
        }
        .card-title {
          color: #fff;
          font-family: "DM Sans";
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 30.158px; /* 125.657% */
          @media (max-width: 867px) {
            font-size: 18px;
          }
        }
        .card-desc {
          color: rgba(255, 255, 255, 0.5);
          font-family: "DM Sans";
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px; /* 150% */
          @media (max-width: 867px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

#partners {
  width: 100vw;
  height: 50vh;
  z-index: 1;
  .title {
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 142.857% */
    letter-spacing: -1.4px;
    @media (max-width: 867px) {
      font-size: 42px;
      line-height: normal;
    }
  }
  .desc {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    @media (max-width: 867px) {
      font-size: 14px;
    }
  }
}

#GetAQuote {
  width: 100%;
  height: 75vh;
  .GetAQuote-container {
    width: 90%;
    background: #000;
    background-image: url("../../../public/assets/images/GetAQuotebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 509px;
    border-radius: 30px;
    @media (max-width: 867px) {
      // height: 155px;
      height: 300px;
      display: flex;
      flex-direction: column;
      padding: 3vw;
    }
    .title {
      color: #fff;
      font-family: "DM Sans";
      font-size: 54px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 70.2px */
      letter-spacing: -1.4px;
      @media (max-width: 867px) {
        // font-size: 18px;
        font-size: 7vw;
      }
    }
    button {
      display: flex;
      width: 360px;
      height: 120px;
      padding: 13px 64px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 70px;
      background: radial-gradient(
        62.07% 60.6% at 50% 50%,
        #f35d3e 0%,
        #fb7e48 100%
      );
      box-shadow: 0px 0px 180px 0px #82310e,
        0px 0px 1px 4px rgba(255, 255, 255, 0.1),
        0px -4px 2px 0px rgba(0, 0, 0, 0.4) inset,
        0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset;
      color: #fff;
      font-family: "Figtree", sans-serif;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 867px) {
        display: inline-flex;
        // width: auto;
        width: 100%;
        font-size: 14px;
        height: 36.559px;
        padding: 3.961px 19.498px;
        gap: 3.047px;
        border-radius: 21.326px;
        box-shadow: 0px 0px 54.839px 0px #82310e,
          0px 0px 0.305px 1.219px rgba(255, 255, 255, 0.1),
          0px -1.219px 0.609px 0px rgba(0, 0, 0, 0.4) inset,
          0px 0.609px 0.305px 0px rgba(255, 255, 255, 0.25) inset;
        background: radial-gradient(
          62.07% 60.6% at 50% 50%,
          #f35d3e 0%,
          #fb7e48 100%
        );
      }
    }
  }
}

#EcoSustainabilitySoftwares {
  width: 100%;
  height: 100vh;
  background-color: white;
  .EcoSustainabilitySoftwares-container {
    width: 90%;
    .title {
      color: #000;
      font-family: "DM Sans";
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 80px; /* 142.857% */
      letter-spacing: -1.4px;
      @media (max-width: 867px) {
        font-size: 42px;
        line-height: normal;
        text-align: center;
      }
    }
    .desc {
      color: rgba(0, 0, 0, 0.6);
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 867px) {
        font-size: 14px;
        text-align: center;
      }
    }
    .card {
      max-width: 350px;
      height: 421px;
      flex-shrink: 0;
      border-radius: 25px;
      background: #fe631f;
      @media (max-width: 867px) {
        width: 100%;
      }
    }
  }
}
