.border {
  border: 1px solid green;
}
.border-red {
  border: 1px solid red;
}
.border-blac1k {
  border: 20px solid black;
}
.border-blac2k {
  border: 20px solid yellow;
}
#root {
  width: 100vw;
  // position: relative;
  height: 100vh;
  // background-color: #d9afd9;
  // background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.canvas{
  position: absolute !important;
}